__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
env/
.DS_Store
*.log
.metastore_db/
derby.log
spark-warehouse/
*.parquet
*.crc
_SUCCESS
.pipeline_runs/
.pytest_cache/
.coverage
*.egg-info/
dist/
build/
m_reports/figures/*.png
g_data/a_bronze/
g_data/b_silver/
g_data/c_gold/
presentation_backup/
